<script type="text/javascript" src="//vk.com/js/api/openapi.js?110"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<style>

</style>
<div class="row">
  <h3 style="text-align:center"> Присоединяйтесь к нам в социальных сетях </h3>
  <br />
  <div class="col-md-4" id="tw-widget">
    <a class="twitter-timeline"  href="https://twitter.com/SmartReserve" width="260" height="216" data-widget-id="450782283545325568">Tweets by @SmartReserve</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>  
  <div class="col-md-4" id="fb-widget">
    <div class="fb-like-box" data-href="https://www.facebook.com/pages/Smart-Reserve/302094899944486" data-width="260" data-height="216" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
  </div>
  <div class="col-md-4" id="vk-widget">
    <div id="vk_groups"></div>
    <script type="text/javascript">
    VK.Widgets.Group("vk_groups", {mode: 0, width:'255', height: "216"}, 67797904);
    </script>
  </div>
</div>