
<%= form_for(:photo_form, :url => club_create_photo_url(@club), :html => {:method => :post, :id => 'upload_form', :multipart => true}) do |f| %>
 Upload a file: <%= f.file_field :uploaded_data %>
<% end %>
<div id="gallery">
  <% @club.photos.each do |photo| %>
    <%= image_tag(photo.image_url, style: 'height:150px') %>
  <% end %>
</div>

<script>
$('#upload_form input').change(function(){
 $(this).closest('form').ajaxSubmit({
  beforeSubmit: function(a,f,o) {
   o.dataType = 'json';
  },
  complete: function(XMLHttpRequest, textStatus) {
   // XMLHttpRequest.responseText will contain the URL of the uploaded image.
   // Put it in an image element you create, or do with it what you will.
   // For example, if you have an image elemtn with id "my_image", then
   //  $('#my_image').attr('src', XMLHttpRequest.responseText);
   // Will set that image tag to display the uploaded image.
   $('#gallery').append('<img style="height:150px" src="'+XMLHttpRequest.responseText+'" />')
   console.log(XMLHttpRequest.responseText);
  },
 });
});
</script>