<div class="row">
  <div style="background:url('<%= asset_path('shapka.jpg')%>') no-repeat;width:100%;height:23em">
  </div>
   <br>
    <div id="header_3">                         
      <div id="header_31" >
             <p>Заведения в городе</p>
                   
      <img src="foto/1.jpg">
      <img src="foto/2.jpg">
      <img src="foto/3.jpg">
      <img src="foto/4.jpg">
      <img src="foto/5.jpg">
      <img src="foto/6.jpg">
      <img src="foto/7.jpg">
      <img src="foto/8.jpg">
        
     </div>                      
    </div>
     <br>
     <br>

  <div class="container">
    <% @clubs.each do |club| %>
      <% if @clubs.index(club) % 4 == 0 %>
        <div class="row">
      <% end -%>

      <div class="col-md-3">
        <%= render partial: 'single', :locals => {:club => club} %> 
      </div>

      <% if (@clubs.index(club) + 1) % 4 == 0 || @clubs.index(club) == @clubs.size - 1%>
        </div>
      <% end -%>
    <% end %>
  </div>


  <div id="knopka"> 
        <a href=" "> <p> Перейти в каталог </p> </a>
  </div>
 
 <br>

  <div id="afisha">
           <p>Афиша</p>
            <div id="afisha_photo">

            </div>
  </div>
  <br>
    <p id="partner">
        Наши партнеры
    </p>
</div>
<%= link_to 'New Club', new_club_path %>
