p#notice= notice
.col-md-8.col-md-offset-2 style="font-size:13px" 
  .row
    - unless @club.avatar.blank?
      .col-md-5 style="padding:23px" 
        img src=to_http(@club.avatar.url) /
    .col-md-7
      h3= @club.name
      p style="color:#ec5c5c" = @club.properties.find_by_kind_en('Type').name
      p= @club.description
      .btn.btn-my
        = link_to 'Редактировать информацию', edit_club_path(@club)
- @comments = @club.comments
#comments.row
  - @comments.each do |c|
    - @comment = c
    = render 'comments/comment'
.row
  - if can? :create, Comment.new
    = form_for(Comment.new, :url => club_comments_url(@club), :remote => :true, :action => :create) do |f|
      = f.text_area :description
      = f.submit 'Add comment'
= link_to 'Tables', club_new_order_path(@club)
| \
| \#{link_to 'Edit', edit_club_path(@club)} \
| \#{link_to 'Back', clubs_path}
