- unless @order.errors.any?
  | $('#confirmation_dialog').html("#{j(render(partial:'confirmation', object: @order))}")
  | $('#confirmation_dialog').modal()
| $('#orders_form').html("#{j(render(partial:'form', object: @order))}");
