<p id="notice"><%= notice %></p>

<p>
  <strong>Table:</strong>
  <%= @order.table %>
</p>

<p>
  <strong>Since:</strong>
  <%= @order.since %>
</p>

<p>
  <strong>Until:</strong>
  <%= @order.until %>
</p>


