<div id="tables" class="col-md-8">
  <%= render "tables/list" %>
</div>
<div class="col-md-4">
  <input id="datetimepicker" type="text" name="order[time]">
  <script>
    $('#datetimepicker').datetimepicker({
      format:'H:i d.m.Y',
      inline:true,
      allowTimes:[
        '12:00', '13:00', '15:00', 
        '17:00', '17:05', '17:20', '19:00', '20:00'
      ],
      onChangeDateTime: function(){
        $.ajax({
            type: 'GET',
            url: "<%= club_tables_status_url(@club.id) %>", //sumbits it to the given url of the form
            data: $('#new_order').serialize()
        });
      }
    });
  </script>
</div>
