<h1>Listing tables</h1>

<table>
  <thead>
    <tr>
      <th>Club</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= table.club.id %></td>
        <td><%= link_to 'Show', club_table_path(table.club, table) %></td>
        <td><%= link_to 'Edit', club_edit_table_path(table.club, table) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

