div.image-wrapper id="photo_#{photo.id}" style="float:left;padding:3px;height:100px"
  /removed https:// because of aws didnt work fine with it
  = image_tag(('http://'+photo.image_url[8..-1]), 'style'=>"max-height:100%;max-width:100%")
  /= link_to('Delete', club_photo_path(photo.imageable_id,photo.id), :method => :delete, :remote => true)
