// Place all the styles related to the Clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3{
  color:black;
}

#menu > ul >  li > a:hover{
  background-color:inherit;
}

.red{
  color:#ec5c5c;
}

.club-image{
  height:140px;
  width:210px;
  display: table;
}
.club-div{
  width: 212px;
  border-color:#ccc;
  border-style:solid;
  border-width:1px;
  border-radius:5px;
}
.text-on-avatar{
  margin-top:15px;
  height:35px;
  width:155px;
  background-color: white;
  text-align:center;
  font-size:1.3em;
  padding-top:5px;
}

.reservation-btn-wrapper{
  float:right;
  padding:10px;
}

.btn-reservation{
  width: 135px;
  height:30px;
  
}
.reservation-btn-wrapper > .btn-reservation{
  padding:0;
  padding-top: 2px;
  font-size:17px;
}
.rating{
  padding: 5px;
}
.before_footer_a{
  font-size:1.1em;
  color: #082bc5;
  text-decoration:underline;
}
.before-footer-h3{
  margin-top:0;
}
#navigation a{
  text-decoration: underline;
}

#restaurants a{
  color:black;
}

.sales-slider{
  margin-top:125px;
}
.sales-slider > .bx-wrapper{
  margin-left:16.6667%;
}
.news-slider{
  margin-top: 30px;
}
.news-slider > .bx-wrapper{
  margin-left:17.6667%;
}
#all_news{
  position: absolute;
  bottom: 0px;
  right: 16.8%;
  font-size: 1.1em;
}
#all_news a{
  text-decoration: underline;
  color: red;
}
#social_widgets > li > a:hover{
  background-color: #555
}
#social_widgets > li > a{
  border:none;
}