// Place all the styles related to the Clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{margin:0; padding:0; font-family:sans-serif}

header{margin-left:15%; 
          margin-right:15%}

#header_2{margin-left:0; 
               margin-right:0;
               width:100%; 
               height:23em;
background: url('<%= asset_path shapka.jpg') no-repeat  ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }

#header_3{margin-left:0; 
                margin-right:0;
                 padding-top:1em; 
                 padding-bottom:1em;
                 width:100%; 
                 height:13em; 
                 background-color:#dedddd;
                 text-align:center;  }


#header_31 p{font-size:1.7em}

menu{ border-top:solid red 2px; 
          border-bottom:solid red 2px}

menu ul li {display:inline; 
               margin-right:5%}

menu ul li a {text-decoration:none; }

#menu_1{margin-left:15%; 
              margin-right:15%}

#main{margin-left:15%; 
          margin-right:15%}

#main_1{width:17%;}

#knopka{width:100%; 
             text-align:center;  
              }

#knopka p { font-size: 1.5em; 
                  border: solid #ef3941 2px; 
                  border-radius:5px; 
                  margin-left:35%; 
                  margin-right:35%; 
                  padding-top:1%; 
                  padding-bottom:1%;}

#knopka a  {text-decoration:none; color:#ed1b24; }

#afisha{margin-left:0; 
               margin-right:0;
                 padding-top:1em; 
                 padding-bottom:1em;
               width:100%; 
               height:15em; 
               background-color:#dedddd;
               text-align:center;}

#afisha p{color:#ed1b24; font-size:2em;}

#partner{ text-align:center;  font-size:2em;}