// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#orders_online {
  border: 3px solid #ec5c5c;
  border-radius: 5px;
}
.order:hover{
  background-color:#eee;
  text-decoration: none;
}
.order {
  font-size: 13px;
  border-bottom: 1px solid #ec5c5c;
  padding: 12px;
  color:black;
  cursor: pointer;

  .modal-label {
    display: inline-block;
    width: 30%;
    font-weight: bold;
    text-align: right;
    padding-right: 5px
  }
  .modal-description {
    display: inline-block;
    width: 70%;
  }
}


div > .btn-red-border {
  background-color: #ffffff;
  border-color: #ec5c5c;
  border-width:2px;
  color: #ec5c5c;
  height: 36px;
  font-size:18px;
  height:50px;
  padding-top: 10px;
}
.btn-red-border > a{
  color:#ec5c5c;
  vertical-align: middle;
}
.btn-red-border > a:hover{
  color:#ec5c5c;
  text-decoration: none;
}

#orders_form{
  border: 3px solid #ec5c5c;
  padding: 40px;
  padding-top: 30px;
}
.order-inputs{
  input{
    width:100%;
  }
  textarea{
    width:100%;
  }
  td{
    padding: 1px;
    padding-right: 5px;
  }
  #submit_form{
    width:100%;
  }
 
}

a.interval-link{
  color:#535353;
  cursor: pointer;
}

.stat-order-table{
  border: 1px solid #dcdcdc;
  width: 100%;
  margin-left: -5px;
  width: calc(100% + 10px);
  max-width: calc(100% + 100px);
  border-top: none;
  text-align: left;

  thead th{
    background-color: #cdcdcd; 
    color: white; 
    border: 1px solid #dcdcdc;
    border-top: none;
    padding-left: 10px;
  }

  td{
    border: 2px solid #dcdcdc;
    padding-left: 10px;
  }

  td:first-child{
    border-left:  2px transparent;
  }

  td:last-child {
    border-right: 2px transparent;
  }
}

.label-stat-books{
  text-align: center;
  font: bold;
}

.datepickers{
  input{
    width: 110px;
  }
}

.links-orders-by-time{
  text-align: center;
}

.per_day_stat{
  margin-top: 20px;
  border: 3px solid #ec5c5c;
  
  table{
    border: 1px solid #dcdcdc;
    width: 100%;

    td:first-child{
      border-left:  2px transparent;
      background-color: #cdcdcd; 
      color: white; 
    }

    td:last-child {
      border-right: 2px transparent;
    }
  }

}