// Place all the styles related to the Tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#tables{
	float: left;
	width: 60%;

	div#the_table{
		float: left;
	}
}

div#navigation_column{
	float: rigth;
}

#red{
	background-color: red; 	
}

#green{
	background-color: green;
	color: green;
	forn.div.input{
		color: green;
	}
}

#gray{
	background-color: #808080;
}

button#do_order{
	div.input{
		color: green;
	}

	background-color: #808080;
	float: left;
}