<%# navigation styled for Bootstrap 3.0 %>
<style>
#ul li a{
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  font-size:12pt;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left:10px;
}
</style>
<div class="" >
  <div class="col-md-12" style="border-color:#ec5c5c;border-style:solid none">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-8" id="menu" style="padding:0">
        <ul class="nav nav-pills" id="ul" style="margin-left:-10px">
          <li><a href=" " style="lpadding: 0 10px">Главная</a> </li>
          <li><a href=" " style="pladding: 0 10px">Посетителям</a> </li>
          <li><a href=" " style="paldding: 0 10px">Ресторанам</a></li>
          <li><a href=" " style="paddling: 0 10px">Новости</a></li>
          <li><a href=" " style="padlding: 0 10px">О проекте</a> </li>
        </ul>
      </div>
      <div class="col-md-4" style="padding:0">        
          <%= render 'layouts/sign' %>
      </div>  
    </div>
  </div>
</div>      

