<%# navigation styled for Bootstrap 3.0 %>
<style>
#ul li a{
  text-decoration: none;
  font-family: sans-serif;
  color: black;
}
</style>
<div class="" >
  <div class="col-md-12" style="border-color:red;border-style:solid none">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-8" style="padding:0">
        <ul class="nav nav-pills" id="ul" style="margin-left:-10px">
          <li><a href=" " style="padding: 0 10px">Главная</a> </li>
          <li><a href=" " style="padding: 0 10px">Посетителям</a> </li>
          <li><a href=" " style="padding: 0 10px">Ресторанам</a></li>
          <li><a href=" " style="padding: 0 10px">Новости</a></li>
          <li><a href=" " style="padding: 0 10px">О проекте</a> </li>
        </ul>
      </div>   
    </div>
  </div>
</div>      

