<%# navigation styled for Bootstrap 3.0 %>
<div class="col-md-12"  style="border-color: red; border-style:solid">
  <div class="row col-md-offset-2">
    <ul class="nav navbar-nav" style="height: 40px; margin-top: -10px;">    
        <li class="active"><%= link_to 'Home', root_path, class: 'navbar-brand' %></li>
        <li><%= link_to 'Main', '/main', class: 'navbar-brand' %></li>
        <li><%= link_to 'About', '/about', class: 'navbar-brand' %></li>
              
          <% render 'layouts/sign' %>
    
    </ul>
  </div>
</div>
