<%# navigation styled for Bootstrap 3.0 %>
<style>
menu{ border-top:solid red 2px; 
          border-bottom:solid red 2px}

menu ul li {display:inline; 
               margin-right:5%}

menu ul li a {text-decoration:none;}

#menu_1{margin-left:15%; 
              margin-right:15%}
</style>
<br>
<menu>
 <div id="menu_1">
  <ul>
     <li><a href=" ">Главная</a></li>
     <li><a href=" ">Посетителям</a></li>
     <li><a href=" ">Ресторанам</a></li>
     <li><a href=" ">Новости</a></li>
     <li><a href=" ">О проекте</a></li>
  </ul>        
 </div>
</menu>
