script src="//vk.com/js/api/openapi.js?110" type="text/javascript" 
#fb-root
javascript:
 (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
css:
  #fb-root {
      display: none;
  }
  
  /* To fill the container and nothing else */
  
  .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
      width: 100% !important;
  }
  #vk_groups,
  #vk_groups iframe {
       width: 100% !important;
  }
  #tw-widget iframe{
    width:100%;
  }
.row
  h3 style="text-align:center"  Присоединяйтесь к нам в социальных сетях
  br/
  javascript:
    $(document).ready(function(){
        $(window).resize(function(){
          $('.fb-like-box').attr('data-width',$('#fb-widget').width());
          $('#vk_groups').html('');
          VK.Widgets.Group("vk_groups", {mode: 0, width:'auto', height: "270"}, 67797904);
        });
      });
  #tw-widget.col-xs-4
    a.twitter-timeline data-theme="light" data-widget-id="450782283545325568" height="270" href="https://twitter.com/SmartReserve"  Tweets by @SmartReserve
    javascript:
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  #fb-widget.col-xs-4
    .fb-like-box[data-colorscheme="light" data-header="false" data-height="270" data-href="https://www.facebook.com/pages/Smart-Reserve/302094899944486" data-show-border="false" data-show-faces="true" data-stream="false" data-width="320" style=("border: 1px solid #e8e8e8;border-radius: 5px;")]
  #vk-widget.col-xs-4
    #vk_groups
    javascript:
      VK.Widgets.Group("vk_groups", {mode: 0, width:'auto', height: "270"}, 67797904);
